@font-face {
  font-family: ApercuRegular;
  src: url(Apercu-Regular.otf);
}

@font-face {
  font-family: ApercuMono;
  src: url(Apercu-Mono.otf);
}

@font-face {
  font-family: ApercuMedium;
  src: url(Apercu-Medium.otf);
}

@font-face {
  font-family: ApercuMediumItalic;
  src: url(Apercu-Medium-Italic.otf);
}

@font-face {
  font-family: ApercuLight;
  src: url(Apercu-Light.otf);
}

@font-face {
  font-family: ApercuLightItalic;
  src: url(Apercu-Light-Italic.otf);
}

@font-face {
  font-family: ApercuItalic;
  src: url(Apercu-Italic.otf);
}

@font-face {
  font-family: ApercuBold;
  src: url(Apercu-Bold.otf);
}

@font-face {
  font-family: ApercuBoldItalic;
  src: url(Apercu-Bold-Italic.otf);
}

body {
  overflow-x: hidden;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  margin-left: 6%;
  margin-right: 6%;
}

@media (min-width: 768px) {
  body {
    margin-left: 10%;
    margin-right: 10%;
  }
}

p {
  line-height: 1.5;
}

a {
  color: #000000;
  font-weight: 600;
}

a:hover {
  color: #4A90E2;
  text-decoration: none;
}

img.img-responsive {
  padding-bottom: 20px;
  display: block;
  max-width: 100%;
  height: auto;
}

.text-primary {
  color: #4A90E2 !important;
}

.title {
  padding-top: 100px;
  padding-bottom: 30px;
}

section {
  padding: 50px 0;
}

section h2.section-heading {
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 15px;
  font-family: 'ApercuBold','Helvetica Neue', sans-serif;
}

section h3.section-subheading {
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 60px;
  margin-left: 20px;
  margin-right: 20px;
  text-transform: none;
  font-family: 'Karla', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  section {
    padding: 50px 0;
  }
  section h2.section-heading {
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  section h3.section-subheading {
    margin-left: 70px;
    margin-right: 70px;
  }
}

.btn {
  font-family: 'Karla', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-left:auto;
  margin-right:auto;
}

.btn-xl {
  font-size: 14px;
  padding: 10px 20px;
}

.btn-primary {
  background-color: #4A90E2;
  border-color: #4A90E2;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #EFC955 !important;
  border-color: #EFC955 !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

#mainNav {
  background-color: white;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #4A90E2;
  font-family: 'ApercuBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand img{
  max-height: 30px;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #4A90E2;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  color: black;
  font-family: 'ApercuBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #4A90E2;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 18px;
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

.intro-text {
  padding-top: 60%;
  padding-bottom: 0px;
}

.intro-text .intro-lead-in {
  font-size: 20px;
  font-family: 'ApercuBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: black;
}

.intro-text .intro-heading {
  font-size: 35px;
  margin-bottom: 5px;
  font-family: 'ApercuLight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: black;
}

@media (min-width: 780px) {
  .intro-text {
    padding-top: 30%;
    padding-bottom: 0px;
  }
  .intro-text .intro-lead-in {
    font-size: 24px;
    font-family: 'ApercuBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: black;
  }
  .intro-text .intro-heading {
    font-size: 40px;
    margin-bottom: 5px;
    font-family: 'ApercuLight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: black;
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
  font-family: 'Karla', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 600px;
  margin: 0;
  cursor: pointer;
  box-shadow: 0px 0px 9px #e8e8e8;
}

#portfolio .portfolio-item .portfolio-caption {
  margin: 0 auto;
  padding-top: 20px;
  text-align: left;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
  font-size: 20px;
  font-family: 'ApercuBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  margin: 0;
  font-family: 'Karla', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#portfolio * {
  z-index: 2;
}

@media (min-width: 790px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'ApercuBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'ApercuBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #4A90E2;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #EFC955;
}
